<a href="https://colab.research.google.com/github/mskang222/NLP_2023/blob/main/10%EC%9B%94_26%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#for문

In [1]:
test_list = ['one', 'two', 'three']
for i in test_list:
     print(i)

one
two
three

In [2]:
 a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
     print(first + last)

3
7
11

In [4]:
# for 문의 응용
marks = [90, 25, 67, 45, 80]   # 학생들의 시험 점수 리스트

number = 0   # 학생에게 붙여 줄 번호
for mark in marks:   # 90, 25, 67, 45, 80을 순서대로 mark에 대입
    number = number +1
    if mark >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)
#for 문이 한 번씩 수행될 때마다 number는 1씩 증가한다.

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

for 문과 continue 문

In [5]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks:
    number = number +1
    if mark < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

for 문과 함께 자주 사용하는 range 함수

In [7]:
 add = 0
for i in range(1, 11):
     add = add + i

print(add)
#i 변수에 숫자가 1부터 10까지 하나씩 차례로 대입되면서 add = add + i 문장을 반복적으로 수행하고 add는 최종적으로 55가 된다.

55