<a href="https://colab.research.google.com/github/mskang222/NLP_2023/blob/main/10%EC%9B%94_4%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

튜플 곱하기

In [1]:
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

튜플 길이 구하기

In [2]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

#딕셔너리 자료형

In [3]:
#딕셔너리의 예시
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
#Key는 각각 'name', 'phone', 'birth', 각각의 Key에 해당하는 Value는 'pey', '010-9999-1234', '1118'이 된다.

In [4]:
a = {1: 'hi'}  #Key로 정숫값 1, Value로 문자열 'hi'를 사용한 예시

In [5]:
a = {'a': [1, 2, 3]}   #Value에 리스트도 넣을 수 있다.