<a href="https://colab.research.google.com/github/mskang222/NLP_2023/blob/main/12%EC%9B%94_3%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = "Tom"
score = 50
age = 20


test_result = "You scored %d on the test." % score
print(test_result)

greeting = "Hello, %s! You turn to finally %d years old finally." % (name, age)
print(greeting)



#Alternatively
print("You scored %d on the test." %score)
print("Hello, %s! You turn to finally %d years old finally." %(name, age))

You scored 50 on the test.
Hello, Tom! You turn to finally 20 years old finally.
You scored 50 on the test.
Hello, Tom! You turn to finally 20 years old finally.

In [2]:
age=13
a= "im %d years old." %age
print(a)

im 13 years old.

In [3]:
def add(a, b):
  result = a + b
  return result

num1 = 10
num2 = 200

sum_result = add(num1, num2)

print("The sum of %d and %d is %d" % (num1, num2, sum_result))

The sum of 10 and 200 is 210

In [4]:
def add_and_print(a, b):
    result = a + b
    print("The sum of %d and %d is %d." % (a, b, result))
    return result

# Call the function
sum_result = add_and_print(10, 15)

The sum of 10 and 15 is 25.

In [5]:
def add_txt1(t1,t2='Python'):
  print(t1 + ':' +t2)

add_txt1('Best')
add_txt1(t1='My friend', t2='Python')
add_txt1(t1= 'My buddy')

Best:Python
My friend:Python
My buddy:Python

In [6]:
def func_uncertain(*args):
  print(args)

func_uncertain()

func_uncertain(6,7,8)
func_uncertain('river','computer','pencil','dog')
func_uncertain(True)

()
(6, 7, 8)
('river', 'computer', 'pencil', 'dog')
(True,)