<a href="https://colab.research.google.com/github/mskang222/NLP_2023/blob/main/9%EC%9B%94_27%EC%9D%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

리스트의 값 수정하기

In [1]:
 a = [1, 2, 3]   #a[2]의 3이 4로 바꾸는 방법.
 a[2] = 4
 a

[1, 2, 4]

del 함수를 사용해 리스트 요소 삭제하기

del a[x]는 x번째 요솟값을 삭제한다.

In [3]:
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [4]:
a = [1, 2, 3, 4, 5]    #슬라이싱 기법을 사용하여 리스트의 요소 여러 개를 한꺼번에 삭제할 수도 있다
del a[2:]
a

[1, 2]

#리스트 관련 함수

리스트에 요소 추가하기 - append

In [5]:
#append(x)는 리스트의 맨 마지막에 x를 추가하는 함수이다.
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [6]:
#리스트에 다시 리스트를 추가한 예시
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]